@page
@model IndexModel
@{
    ViewData["Title"] = "BODEGA";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Preguntas Frecuentes con un Chatbot</h1>
    
	<iframe src='https://webchat.botframework.com/embed/chatbot-bodega-bot?s=TU_SECRETO_AQUÍ'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div>
