@page
@model IndexModel
@{
    ViewData["Title"] = "BODEGA";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Preguntas Frecuentes con un Chatbot para una bodega</h1>
   
	<div>
		<iframe src='https://webchat.botframework.com/embed/chatbot-bodega-bot?s=Bv-hu4U3eXY.4bafkCK4QPXxOJQxeb58MknYcoOPvIMnSPeXcuDLUng'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
	</div>
</div>
